.mapouter{
    position:relative;
    text-align:center;
    height:300px;
    width:60%;
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}